html, body{
	margin: 0;
	padding: 0;
}


.container-fluid{
	padding: 0;
}

.landing{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}

.navbar{
	position: sticky;
	padding: 20px;
	margin: 0;
	box-sizing: border-box;
	z-index: 10;
	top: 20px;
	background: none;
	border-style: none;
}

.navbar-toggle{
	border-style: none;
}

.navbar-default .navbar-nav>li>a{
	transition: color 0.4s;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
	background: initial;
}


.nav-container{
	max-width: 2200px;
}

.navbar-nav li a {
	font-size: 20px;
	text-decoration: none;
	color: white;
	margin-left: 4.5rem;
	font-variant: small-caps;
	letter-spacing: 5px;
}

.navbar-header{
	height: 100%;
}

.navbar-nav{
	font-family: "Gotham Bold", sans-serif;
	color: white;
}

.landing .hero{
	position: absolute;
	height: inherit;
	top: 0;
	padding: 0;
	display: flex;
	align-items: center;
	z-index: 1;
}

.img{
	width: 100%;
}

.hero-logo-container{
	text-align: center;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#call-to-action-btn{
	margin-top: 30px;
	background: transparent;
	border: 2px solid /*rgba(200, 200, 200, 0.7)*/ #FF476A;
	color: /*rgba(200, 200, 200, 0.7)*/ #FF476A;
	height: 50px;
	font-family: "Gotham Bold", sans-serif;
	font-size: 18px;
	transition: border 0.6s, color 0.4s, background 0.4s;
	font-variant: small-caps;
	letter-spacing: 5px;
	width: 100%;
	outline: 0;
}

#call-to-action-btn:hover{
	border-color: rgba(225, 225, 225, 1);
	color: rgba(225, 225, 225, 1);
}

.hero-social-container{
	width: 100%;
	position: absolute;
	bottom: 5%;	
}

.inner{
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.inner i{
	color: white;
}

.page-content{
	width: 100%;
	margin: 0;
}

.section-title{
	text-align: center;
	margin-top: 30px;
	font-family: "PT Sans", sans-serif;
	color: white;
	letter-spacing: 3px;
	font-weight: 700;
}

.events-title > span > h1{
		font-size: 40px;
}

.events{
	background-color: #171717;
}

.event{
	margin: 40px 0px;
	padding: 0px 30px;
}

.event a{
	text-decoration: none;
}

.inner-event{
	background-color: #474747; 
	padding: 0px;
	text-align: center;
	font-family: "PT Sans", sans-serif;
	letter-spacing: 3px;
	transition: background 0.2s;
	box-shadow: 0px 0px 25px 2px rgba(255,45,84,0.7);
}

.inner-event:hover{
	background-color: #383636;
}

.event-headers{
	font-family: inherit;
	font-size: 30px;
	color: #ff2d54;
	letter-spacing: inherit;
	font-weight: 600;
	padding: 30px;
}

.event-img{
	width:100%;
}

.event-des{
    padding: 30px;
        text-overflow: ellipsis;
}

.des{
	color: white;
	letter-spacing: 1px;
	height: 160px;
    overflow: hidden;
}

.after-des{
	color: white;
	border-bottom: 1px solid white;
}

.mentioned{
	background-color: white;
	padding: 30px;
	overflow: hidden;
}

.mentioned .col-xs-4 .mentioned-logo-container{
	height: 65px;
	display: flex;
	align-items: center;
}

.mentioned .col-xs-4 img{
	display: block;
    margin: auto;
}

.sassy{
	height: 65px;
}

.hkclubbing{
	height: 50px;
}

.tripAdvisor{
	height: 40px;
}

.space{
	width: 100%;
	background-color: black; 
}

.space-img{
	width: 100%;
}

.space-img-overlay{
   position: absolute; 
   top: 5%; 
   left: 5%; 
   background: rgba(43, 43, 43, 0.5);
   display: inline;
   padding: 30px;
   color: white;
}

.gallery-container{
	padding: 40px 7.5px;
}

.gallery{
	background-color: #171717;
	padding: 0px 15px;
}

.gallery-img-container{
	padding: 15px;
	text-align: center;
}

.gallery-img{
	padding: 0;
	margin: 0;
	transition: box-shadow 0.4s;
}

.gallery-img:hover{
	box-shadow: 0px 0px 25px 2px rgba(255,45,84,0.7);
}

.gallery-img-event{
	color: white;
	font-size: 20px;
	font-weight: 500;
	font-variant: small-caps;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 15px;
	transition: color 0.4s;
}

.gallery-img:hover + .gallery-img-event{
	color: #ff2d54;
}

.gallery-img-date{
	font-size: 15px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.map{
	width: 100%;
	background-color: #ff2d54;
	padding-bottom: 40px;
}

.map .section-title{
	padding: 0px 15px;
}

.map-details{
	margin-top: 30px;
}

.map-des{
	height: 100%;
}

.map-details-des{
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: white;
	letter-spacing: 3px;
}

.map-icon-title{
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: white;
	letter-spacing: 3px;
	margin-left: 10px;
}

.map-des-inner{
	display: flex;
	justify-content: space-around;
}

.footer{
	background-color: #171717;
	padding: 50px 25px 25px 25px;
}

.footer-sec-title{
	text-align: center;
	font-variant: small-caps;
	padding-bottom: 10px;
}

.footer-sec-content{
	padding: 20px;
	color: white;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}

.input-container{
	display: flex;
	margin-top: 20px;
}

.footer-email{
	display: inline-block;
	margin-bottom: 15px;
}

.newsletter-input{
	height: 40px;
	outline: 0;
	border-style: none;
	color: black;
	padding: 10px;
	flex: 1;
}

.newsletter-btn{
	height: 40px;
	background-color: #ff2d54;
	border-radius: 0;
	outline: 0;
	border-style: none;
	padding: 15px;
	margin-left: 5px;
	font-family: "PT Sans", sans-serif;
	line-height: 11px;
}

.social-footer-container{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-logo-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-logo{
	height: 250px;
	width: 250px;
	margin: 0 auto;
}


@media only screen and (max-width: 762px) {
    .hero-logo-container{
        width: 225px;
    }

    .navbar-brand{
    	display:none;
    }

    .navbar{
    	position: default;
    }

    .mentioned{
		padding: 20px;
	}

    .mentioned .col-xs-4 .mentioned-logo-container{
		height: 30px;
	}

    .hkclubbing, .sassy, .tripAdvisor{
    	height: 20px;
	}

	.space-img-overlay{
		font-size: 20px;
		padding: 20px;
	}

	.map-des-inner{
		flex-direction: column;
	}
	
	.map-des-inner > .col-md-12{
		padding: 10px;
	}
}

@media only screen and (max-width: 992px) {
	.map-des{
		padding-top: 40px;
	}

	.footer-logo-container{
		display: none;
	}

}

@media only screen and (min-width: 992px) {
	.map-des-inner{
		height: 500px;
		flex-direction: column;
	}

}



@media only screen and (min-width: 763px) and (max-width: 1100px) {
    .hero-logo-container{
        width: 250px;
    }

    .hkclubbing, .sassy, .tripAdvisor{
    	height: 30px;
	}

    .space-img-overlay{
		font-size: 25px;
		padding: 25px;
	}
}

@media only screen and (min-width: 1101px) and (max-width: 1500px) {
    .hero-logo-container{
        width: 300px;
    }
}

@media only screen and (min-width: 1501px) {
    .hero-logo-container{
        width: 350px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .container-events{
        width: 1200px;
    }
}

@media only screen and (min-width: 1501px) and (max-width: 2000px) {
    .container-events{
        width: 1400px;
    }
}

@media only screen and (min-width: 2001px) {
	.container-events{
		width: 1700px;
	}
}


/* ---------- GHOST FOR DEBUGGING ----------*/

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/






