html, body{
	margin: 0;
	padding: 0;
}


.container-fluid{
	padding: 0;
}

.landing{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/bg.jpg");
	background-size: cover;
	margin: 0;
}

.navbar{
	position: sticky;
	padding: 20px;
	margin: 0;
	box-sizing: border-box;
	z-index: 10;
	top: 20px;
	background: none;
	border-style: none;
}

.navbar-toggle{
	border-style: none;
}

.navbar-default .navbar-nav>li>a{
	transition: color 0.4s;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
	background: initial;
}


.nav-container{
	max-width: 2200px;
}

.navbar-nav li a {
	font-size: 20px;
	text-decoration: none;
	color: white;
	margin-left: 4.5rem;
	font-variant: small-caps;
	letter-spacing: 5px;
}

.navbar-header{
	height: 100%;
}

.navbar-nav{
	font-family: "Gotham Bold", sans-serif;
	color: white;
}

.landing .hero{
	position: absolute;
	height: inherit;
	top: 0;
	padding: 0;
	display: flex;
	align-items: center;
	z-index: 1;
}

.img{
	width: 100%;
}

.hero-logo-container{
	text-align: center;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#call-to-action-btn{
	margin-top: 30px;
	background: transparent;
	border: 2px solid /*rgba(200, 200, 200, 0.7)*/ #FF476A;
	color: /*rgba(200, 200, 200, 0.7)*/ #FF476A;
	height: 50px;
	font-family: "Gotham Bold", sans-serif;
	font-size: 18px;
	transition: border 0.6s, color 0.4s, background 0.4s;
	font-variant: small-caps;
	letter-spacing: 5px;
	width: 100%;
	outline: 0;
}

#call-to-action-btn:hover{
	border-color: rgba(225, 225, 225, 1);
	color: rgba(225, 225, 225, 1);
}

.hero-social-container{
	width: 100%;
	position: absolute;
	bottom: 5%;	
}

.inner{
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

i{
	color: white;
}

.page-content{
	width: 100%;
	margin: 0;
}

.events-title{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
	font-family: "PT Sans", sans-serif;
	color: white;
	letter-spacing: 3px;
	font-weight: 700;
}

.events{
	background-color: #262626;
}

.event{
	margin: 20px 0px;
}

.event a{
	text-decoration: none;
}

.inner-event{
	background-color: #504f4f; 
	padding: 0px;
	text-align: center;
	font-family: "PT Sans", sans-serif;
	letter-spacing: 3px;
	transition: background 0.2s;
	box-shadow: 0px 0px 25px 2px rgba(255,45,84,0.7);
}

.inner-event:hover{
	background-color: #383636;
}

.event-headers{
	font-family: inherit;
	font-size: 30px;
	color: #ff2d54;
	letter-spacing: inherit;
	font-weight: 600;
	padding: 30px;
}

.event-img{
	width:100%;
}

.event-des{
    padding: 30px;
        text-overflow: ellipsis;
}

.des{
	color: white;
	letter-spacing: 1px;
	height: 160px;
    overflow: hidden;
}

.after-des{
	color: white;
	border-bottom: 1px solid white;
}

.mentioned{
	background-color: white;
	padding: 30px;
}

.mentioned .col-xs-4 .mentioned-logo-container{
	height: 65px;
	display: flex;
	align-items: center;
}

.mentioned .col-xs-4 img{
	display: block;
    margin: auto;
    height: 65px;
}

.mentioned .col-xs-4 #hkclubbing{
	height: 50px;
}

.mentioned .col-xs-4 #tripAdvisor{
	height: 40px;
}


@media only screen and (max-width: 762px) {
    .hero-logo-container{
        width: 225px;
    }

    .navbar-brand{
    	display:none;
    }

    .navbar{
    	position: default;
    }
}

@media only screen and (min-width: 763px) and (max-width: 1100px) {
    .hero-logo-container{
        width: 250px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1500px) {
    .hero-logo-container{
        width: 300px;
    }
}

@media only screen and (min-width: 1501px) {
    .hero-logo-container{
        width: 350px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .container-events{
        width: 1200px;
    }
}

@media only screen and (min-width: 1501px) and (max-width: 2000px) {
    .container-events{
        width: 1400px;
    }
}

@media only screen and (min-width: 2001px) {
	.container-events{
		width: 1700px;
	}
}


/* ---------- GHOST FOR DEBUGGING ----------*/

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/






